@define-color dark-slate-gray #2c423f;
@define-color majorelle-blue #6e44ff;
@define-color background #331e36;
@define-color highlight #dd7373;
@define-color text #b892ff;

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: Noto, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: @text;
}

window#waybar {
  background-color: rgba(77, 26, 102, 0.12);
  color: @text;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

.modules-right > widget > * {
  margin: 6px;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: none;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px @dark-slate-gray;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
}

#workspaces {
  /* background-color: @background; */
  border-radius: 7px;
  /* border: 2px dotted @text; */
  margin: 0;
  padding: 0;
}

#workspaces button {
  margin-top: 3px;
  padding: 0;
}

#workspaces button.active {
  /* border-bottom: 2px solid @highlight; */
  box-shadow: inset 0px -3px @highlight;
}

/* @keyframes blink { */
/*     to { */
/*         background-color: #ffffff; */
/*         color: #000000; */
/*     } */
/* } */
/**/
